html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    border: 0;
    padding: 0;
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  img{
    max-width: 100%;
  }

  header{
    color: #711def;
    position: relative;
    height: 8rem;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.4rem;
    font-size: 1.6rem;

  }
  header h1{
    text-transform: uppercase;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
  }
  .menu{
    display: flex;
  }
  .menu button{
    display: none;

  }
  .menu-list{
    list-style: none;
    display: flex;
  }
  .menu-list li{
    /* display: inline-block; */
    margin-left: 3.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }

  .menu-list li.active,
  .menu-list li:hover{
    color: #ff5360;
  }
/*    MENU */
@media (max-width: 768px) { 
 
  .menu button{
      display: block;
      width: 4rem;
      height: 4rem;
      border: none;
      background: transparent;
      color: #711def;
      outline: none;
      font-size: 2.5rem;
      cursor: pointer;
      z-index: 9999;
  }

/*    LA EQUIS SE ENCONDE Y SI 
HAY OPENED LA BARRA TMB, PERO COMO NO HAY
SE MANTIENE 
*/
  .menu i.fa-times,
  .menu.opened i.fa-bars{
      display: none;
  }
/* LUEGO SI HAY OPENED Y LA EQUIX SE ACTIVA
CON BLOCK Y LA CONDICIONAL DE ARRIBA
COMO YA HAY OPENED LAS BARRAS SE VAN */
  .menu.opened i.fa-times,
  .menu i.fa-bars {
      display: block;
      animation: enter 0.8s;
  }

  @keyframes enter {
      0%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }

  .menu-list{
      position: fixed;
      top: 0;
      right: 0;
      width: 80%;
      height: 100%;
      background-color: #711def;
      color: white;
      padding: 4.6rem;
      flex-direction: column;
      padding-top: 8rem;
      align-items: flex-end;
      transform: translateX(100%);
      transition: transform 0.5s;
  }
  .menu-list li{
      font-size: 2.5rem;
      margin: 3.2rem 0;
  }

  .menu.opened .menu-list{
      transform: translateX(0%);
  }
  .menu.opened button{
     color:white
  }
}

/*   ///MAIN */
 
